<h1>Usuários cadastrados</h1>
<div class="container">
    {{#each users}}
        <div class="item">
            <h2>{{this.name}}</h2>
            <p>{{this.occupation}}</p>
            <div class="actions">
                <a href="/users/{{this.id}}" style="border-color: #004085; color: #004085;">Ver detalhes</a>
                <a href="/users/edit/{{this.id}}" style="border-color: #004085; color: #004085;">Editar</a>
                <form action="/users/delete/{{this.id}}" method="POST">
                    <input type="submit" style="border-color: #721c24; color: #721c24;" value="Excluir">
                </form>
            </div>
        </div>
    {{/each}}
</div>